<div class="container">
<div class="row">
<div class="col-md-12 mx-auto">
</br>
<h3>注文情報確認</h3>

<!--カート内のアイテムを参照する-->
<div class="row">
  <div class="col-md-10 mx-auto">
    <table class="table">
      <thead>
        <th></th>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </thead>
      <tbody>
      <% @sum = 0 %>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= image_tag cart_item.item.item_image, size: "30x30"%></td>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.with_tax_price %></td>
        <td><%= cart_item.amount %></td>
        <td><% @sum += cart_item.subtotal %><%= @sum %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<!--お客様情報の表示-->
<div class="row">
  <div class="col-md-5 mx-auto">
    <table class="table">
      <tr>
        <th>送料</th>
        <td>800</td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @sum %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @sum + 800 %></td>
      </tr>
    </table>
  </div>

<div class="col-md-6 mx-auto">
<table class="table">
    <tr>
    <th>支払い方法</th>
    <td><%= @order.payment_method_i18n%></td>
    </tr>
    <tr>
    <th>お届け先</th>
    <td>
      <%= @order.address %>
      <%= @order.name %>
    </td>
    </tr>
</table>
</div>
</div>


<%= form_with model: @order_new , url: "/orders" , local:true do |f| %>
  <p><%= f.hidden_field :customer_id, value: current_customer.id %></p>
  <p><%= f.hidden_field :payment_method, value:  @order.payment_method %></p>
  <p><%= f.hidden_field :postage, value: 800 %></p>
  <p><%= f.hidden_field :postal_code, value: @order.postal_code %></p>
  <p><%= f.hidden_field :total_payment, value: @sum + 800%></p>
  <p><%= f.hidden_field :address, value: @order.address%></p>
  <p><%= f.hidden_field :name, value: @order.name %></p>
  <p><%= f.hidden_field :order_status, value: "wait_payment"%></p>
  <div class="row">
  <div class="col-md-3 mx-auto mt-5">
  <p><%= f.submit "注文を確定する", class: "btn btn-success" %></p>
  <% end %>
  </div>
  </div>

</div>
</div>
</div>