<!--<a class="navbar-brand p-3" href="/"><%#= image_tag('cooltext427824454795598.png') %></a>-->


<% if customer_signed_in? %>
  <ul class="navbar navbar-expand-lg">
    <div class="welcome text-light">ようこそ、<%= current_customer.last_name %>さん！</div>
  </ul>

  <ul class="nav col-6 col-sm-auto col-lg-auto my-2 justify-content-end my-md-0">
    <li class="nav-item">
      <%#= link_to "マイページ", customer_session_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%= link_to "商品一覧", items_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%= link_to "カート", cart_items_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <% link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>
  </ul>

<% elsif admin_signed_in? %>
  <ul class="nav col-6 col-sm-3 col-lg-auto my-2 justify-content-center my-md-0">
    <li class="nav-item">
      <%= link_to "商品一覧", admin_items_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%#= link_to "会員一覧", admin_customers_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%#= link_to "注文履歴一覧", admin_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%#= link_to "ジャンル一覧", admin_genres_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>

    <li class="nav-item">
      <%= link_to "ログアウト",  destroy_admin_session_path, method: :delete, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
    </li>
  </ul>


<% else %>
<div class="row">
    <div class="col-md">
      <ul class="nav col-6 col-sm-3 col-lg-auto my-2 justify-content-end my-md-0">


        <li class="nav-item">
          <%#= link_to "About", about_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        </li>

        <li class="nav-item">
          <%#= link_to "商品一覧", items_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        </li>

        <li class="nav-item">
          <%#= link_to "新規登録", new_customer_registration_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        </li>

        <li class="nav-item">
          <%= link_to "ログイン", new_customer_session_path, class: 'mx-1 nav-link btn btn-light btn-sm mr-2' %>
        </li>
      </ul>
    </div>
  </div>
<% end %>